:root{
    --d-blue: #22223b;
    --l-blue: #4a4e69;
    --white: #f2e9e4;
    --l-brown: #c9ada7;
    --d-brown: #9a8c98;

}
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: var(--d-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
}

.navbar .site-title{
    font-size: 2rem;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;

}

.navbar li a:hover{
    color: var(--l-brown);
}
.navbar a{
    color: var(--white);
    text-decoration: none;
}

.prelim-sort-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.prelim-sort-buttons .add-node-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prelim-sort-buttons input{
    width: 50px;
    height: 30px;
    border: 2px solid var(--d-blue);
    border-radius: 5px;
}

 

.container-sort {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 25px;
    border: 2px solid var(--d-blue);
    margin: 10px;
    height: 250px;
    border-radius: 5px;
}

.sort-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sort-sliders{
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.slider-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider{
    appearance: none;
    width: 150px;
    height: 15px;
    background: var(--l-blue);
    border-radius: 2px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background:var(--d-blue);
    border-radius: 2px;
}

.sort-btns{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.sort-btn{
    width: 100px;
    min-height: fit-content;
    border: none;
    border-radius: 5px;
    background: var(--d-blue);
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.sort-btn:hover{
    width: 100px;
    min-height: fit-content;
    border: none;
    border-radius: 5px;
    background: var(--l-blue);
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.arr-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arr-val{
    font-weight: bolder;
}

.arr-bar{
    background: var(--d-blue);
    display: flex;
    flex-direction: column;
    width: 25px;
}
